
*{
    margin:0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;

    }

header{
    background-color:rgb(22, 21, 18);
    display:flex;
    justify-content: space-between;
    align-items: center;
    
    
    
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: black !important; 
}
main{
    flex: 1;
    background-color: black;
    
}
footer{
    background-color:rgb(22, 21, 18);
    padding: 20px;
}
.main-title {
    font-size: 32px;
    text-align: center;
    color: white;
    background-color: black;
    padding: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }
  

.nav-link.btn {
    background-color: white;
    color: black;
    border: none;
  }
  
  .nav-link.btn:hover {
    background-color: #f2f2f2;
  }

.class{
    container{
        background-color: black;
    }
}
.titulos {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 50px;
    text-align: center;
    padding: 80px 60px;

}
.card {
    border: 1px solid black;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 20px;
    height: 100%;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px; 
    object-fit: cover; 
  }
  
  .card-body {
    background-color: black;
    padding: 20px;
  }
  
  .card-title {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .card-text {
    color: white;
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color:black !important;
    color:white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    text-decoration: none;
    font-weight: 700;
  }
.titulo_mapa{
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 20px;
    text-align: left;
    margin: 10px;

}

.formulario
{
    width: 400px;
    background-color:rgb(13, 13, 13);
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    color: rgb(239, 231, 231);

}
.formulario h4{
    font-size: 22px;
    margin-bottom: 20px;
}
.controls{
    width: 100%;
    background-color:black;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px;
    font-size: 18px;
}
.formulario .botons{
    width: 100%;
    background-color:blue;
    border: none;
    padding: 12px;
    color:white;
    margin: 16px 0;
    font-size: 16px;

}
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .subtitle {
    text-align: center;
    color: white;
    margin: 20px 0;
  }
  
  .subtitle h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtitle ol {
    list-style-type: upper-case;
    padding-left: 0;
  }
  
  .subtitle li {
    margin-bottom: 5px;
  }
  
  .social-icons {
    text-align: center;
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }
  
  .social-icons li a i {
    font-size: 24px;
    color: #333;
    transition: color 0.3s ease-in-out;
  }
  
  .social-icons li a i:hover {
    color: rgb(247, 166, 15);
  }
  .options-container {
    color: white;
    background-color: orange;
    display: flex;
    justify-content: space-between;
  }
  
  .option-group {
    flex: 1;
  }
  .footer-title {
    font-size: 20px;
    text-align: center;
    color: white;
    padding: 15px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .orange-background {
    background-color: orange;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
}

.list-items {
    color: black;
    list-style-type: disc; 
    margin-left: 10px; 
}
.list-item {
  font-size: 20px;
  color: black;
  margin-bottom: 10px;
  font-weight: bold;
}

.sub-item {
  font-size: 18px;
  color: white;
  font-weight: normal;
}
.title{
  text-align: center;
  color: white;
}
.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-items {
  list-style-type: none;
  text-align: center;
  padding: 0;
}

.list-item {
  font-size: 20px;
  color: black;
}

.sub-item {
  font-size: 16px;
  color: white;
}
.marron-background{
  background-color: #6d2d00;
}
.lilac-background{
 background-color: #cf2e2e;
}
